{:paths    ["src"]
 :deps     {clj-time/clj-time              {:mvn/version "0.15.0"}
            clj-http/clj-http              {:mvn/version "3.12.3"}
            org.clojure/clojure            {:mvn/version "1.11.1"}
            org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
            net.mikera/core.matrix         {:mvn/version "0.62.0"}
            org.clojure/core.match {:mvn/version "1.0.0"}
            #_#_org.bytedeco/mkl-platform-redist {:mvn/version "2020.3-1.5.4"}
            #_#_uncomplicate/neanderthal {:mvn/version "0.43.0"}
            #_#_net.mikera/vectorz-clj {:mvn/version "0.48.0"}}
 :jvm-opts ["--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
            #_#_"-Xms14G" "-Xmx14G"]
 :aliases  {:test {:extra-paths ["test"]}}}